tr {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}

table {
    display: -moz-groupbox; // Firefox Bad Effect
}

table.download {
  height: 150px;
}

tbody {
    overflow-y: auto;
    width: 100%;
}

table.download tbody{
    height: 100px; //  <-- Select the height of the body
}

.tab-pane {
  padding-top: 10px;
}
